In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/content/Pokemon.csv")

In [3]:
data.head(n=10)

   #                       Name Type 1  ... Speed  Generation  Legendary
0  1                  Bulbasaur  Grass  ...    45           1      False
1  2                    Ivysaur  Grass  ...    60           1      False
2  3                   Venusaur  Grass  ...    80           1      False
3  3      VenusaurMega Venusaur  Grass  ...    80           1      False
4  4                 Charmander   Fire  ...    65           1      False
5  5                 Charmeleon   Fire  ...    80           1      False
6  6                  Charizard   Fire  ...   100           1      False
7  6  CharizardMega Charizard X   Fire  ...   100           1      False
8  6  CharizardMega Charizard Y   Fire  ...   100           1      False
9  7                   Squirtle  Water  ...    43           1      False

[10 rows x 13 columns]

In [4]:
data.tail(n=15)

       #                 Name   Type 1  ... Speed  Generation  Legendary
785  711  GourgeistSmall Size    Ghost  ...    99           6      False
786  711  GourgeistLarge Size    Ghost  ...    69           6      False
787  711  GourgeistSuper Size    Ghost  ...    54           6      False
788  712             Bergmite      Ice  ...    28           6      False
789  713              Avalugg      Ice  ...    28           6      False
790  714               Noibat   Flying  ...    55           6      False
791  715              Noivern   Flying  ...   123           6      False
792  716              Xerneas    Fairy  ...    99           6       True
793  717              Yveltal     Dark  ...    99           6       True
794  718     Zygarde50% Forme   Dragon  ...    95           6       True
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[15 rows x 13 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [6]:
data.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [7]:
data.describe()

                #      Total          HP  ...     Sp. Def       Speed  Generation
count  800.000000  800.00000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750  435.10250   69.258750  ...   71.902500   68.277500     3.32375
std    208.343798  119.96304   25.534669  ...   27.828916   29.060474     1.66129
min      1.000000  180.00000    1.000000  ...   20.000000    5.000000     1.00000
25%    184.750000  330.00000   50.000000  ...   50.000000   45.000000     2.00000
50%    364.500000  450.00000   65.000000  ...   70.000000   65.000000     3.00000
75%    539.250000  515.00000   80.000000  ...   90.000000   90.000000     5.00000
max    721.000000  780.00000  255.000000  ...  230.000000  180.000000     6.00000

[8 rows x 9 columns]

In [8]:
data["Type 1"].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [9]:
data.sort_values("Defense",ascending=False)

       #                 Name    Type 1  ... Speed  Generation  Legendary
230  213              Shuckle       Bug  ...     5           2      False
224  208  SteelixMega Steelix     Steel  ...    30           2      False
333  306    AggronMega Aggron     Steel  ...    50           3      False
223  208              Steelix     Steel  ...    30           2      False
414  377             Regirock      Rock  ...    50           3       True
..   ...                  ...       ...  ...   ...         ...        ...
68    63                 Abra   Psychic  ...    90           1      False
186  172                Pichu  Electric  ...    60           2      False
261  242              Blissey    Normal  ...    55           2      False
488  440              Happiny    Normal  ...    30           4      False
121  113              Chansey    Normal  ...    50           1      False

[800 rows x 13 columns]

In [10]:
data.sort_values(["HP","Attack","Defense"])

       #       Name   Type 1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
316  292   Shedinja      Bug  Ghost  ...       30     40           3      False
55    50    Diglett   Ground    NaN  ...       45     95           1      False
139  129   Magikarp    Water    NaN  ...       20     80           1      False
230  213    Shuckle      Bug   Rock  ...      230      5           2      False
381  349     Feebas    Water    NaN  ...       55     80           3      False
..   ...        ...      ...    ...  ...      ...    ...         ...        ...
655  594  Alomomola    Water    NaN  ...       45     65           5      False
351  321    Wailord    Water    NaN  ...       45     60           3      False
217  202  Wobbuffet  Psychic    NaN  ...       58     33           2      False
121  113    Chansey   Normal    NaN  ...      105     50           1      False
261  242    Blissey   Normal    NaN  ...      135     55           2      False

[800 rows x 13 columns]

In [12]:
attack_mean = data["Attack"].mean()

def set_attack(val):
    if val < attack_mean:
        return "Attack Low"
    elif val == attack_mean:
        return "Attack neutral"
    else:
        return "Attack High"

In [13]:
# "Attack_high_low"  -> "Attack High" , "Attack Low"
data["Attack_high_low"] = data["Attack"].apply(set_attack)
data

       #                   Name   Type 1  ... Generation  Legendary  Attack_high_low
0      1              Bulbasaur    Grass  ...          1      False       Attack Low
1      2                Ivysaur    Grass  ...          1      False       Attack Low
2      3               Venusaur    Grass  ...          1      False      Attack High
3      3  VenusaurMega Venusaur    Grass  ...          1      False      Attack High
4      4             Charmander     Fire  ...          1      False       Attack Low
..   ...                    ...      ...  ...        ...        ...              ...
795  719                Diancie     Rock  ...          6       True      Attack High
796  719    DiancieMega Diancie     Rock  ...          6       True      Attack High
797  720    HoopaHoopa Confined  Psychic  ...          6       True      Attack High
798  720     HoopaHoopa Unbound  Psychic  ...          6       True      Attack High
799  721              Volcanion     Fire  ...          6       True      Attack High

[800 rows x 14 columns]

In [14]:
data.groupby("Type 1").groups

{'Bug': [13, 14, 15, 16, 17, 18, 19, 51, 52, 53, 54, 132, 136, 137, 179, 180, 181, 182, 208, 219, 220, 228, 229, 230, 231, 232, 288, 289, 290, 291, 292, 307, 308, 314, 315, 316, 342, 343, 446, 447, 457, 458, 459, 460, 461, 462, 463, 520, 600, 601, 602, 603, 604, 605, 618, 619, 649, 650, 656, 657, 677, 678, 693, 697, 698, 717, 732, 733, 734], 'Dark': [212, 213, 233, 246, 247, 248, 284, 285, 326, 327, 392, 393, 478, 512, 549, 568, 569, 620, 621, 631, 632, 685, 686, 690, 691, 694, 695, 696, 756, 757, 793], 'Dragon': [159, 160, 161, 365, 366, 406, 407, 408, 409, 417, 418, 419, 420, 425, 426, 491, 492, 493, 494, 671, 672, 673, 682, 706, 707, 710, 711, 712, 774, 775, 776, 794], 'Electric': [30, 31, 88, 89, 108, 109, 134, 146, 157, 186, 193, 194, 195, 196, 258, 262, 337, 338, 339, 340, 341, 448, 449, 450, 464, 513, 517, 531, 532, 533, 534, 535, 536, 581, 582, 648, 663, 664, 665, 704, 705, 764, 765, 772], 'Fairy': [40, 41, 187, 189, 190, 225, 226, 519, 737, 738, 739, 752, 753, 754, 755, 770, 792], 'Fighting': [61, 62, 72, 73, 74, 114, 115, 255, 256, 320, 321, 334, 335, 336, 496, 497, 498, 592, 593, 594, 598, 599, 680, 681, 742, 743, 771], 'Fire': [4, 5, 6, 7, 8, 42, 43, 63, 64, 83, 84, 135, 147, 158, 169, 170, 171, 236, 237, 259, 263, 270, 276, 277, 278, 279, 352, 353, 354, 355, 435, 436, 437, 518, 542, 557, 558, 559, 572, 573, 614, 615, 616, 692, 721, 722, 723, 730, 731, 735, 736, 799], 'Flying': [702, 703, 790, 791], 'Ghost': [99, 100, 101, 102, 215, 385, 386, 387, 388, 389, 472, 473, 477, 490, 529, 544, 545, 623, 624, 668, 669, 670, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787], 'Grass': [0, 1, 2, 3, 48, 49, 50, 75, 76, 77, 110, 111, 122, 166, 167, 168, 197, 202, 203, 204, 206, 207, 272, 273, 274, 275, 296, 297, 298, 309, 310, 344, 362, 363, 390, 432, 433, 434, 451, 452, 467, 468, 505, 509, 510, 511, 516, 521, 550, 551, 554, 555, 556, 570, 571, 606, 607, 608, 609, 617, 651, 652, 658, 659, 701, 718, 719, 720, 740, 741], 'Ground': [32, 33, 55, 56, 112, 113, 119, 120, 222, 250, 251, 359, 360, 361, 375, 376, 423, 424, 499, 500, 515, 523, 588, 589, 611, 612, 613, 679, 683, 684, 708, 709], 'Ice': [133, 156, 238, 239, 243, 257, 395, 396, 397, 398, 399, 400, 415, 522, 524, 530, 643, 644, 645, 674, 675, 676, 788, 789], 'Normal': [20, 21, 22, 23, 24, 25, 26, 27, 44, 45, 57, 58, 90, 91, 92, 116, 121, 123, 124, 138, 143, 144, 148, 155, 175, 176, 177, 178, 188, 205, 218, 221, 234, 235, 252, 253, 254, 260, 261, 286, 287, 299, 300, 311, 312, 313, 317, 318, 319, 322, 324, 325, 358, 364, 367, 383, 384, 441, 442, 443, 444, 445, 471, 474, 475, 476, 479, 480, 488, 489, 495, 514, 525, 543, 552, 563, 564, 565, 566, 567, 578, 579, 580, 590, 591, 633, 634, 646, 647, 687, 688, 689, 715, 716, 727, 728, 729, 744], 'Poison': [28, 29, 34, 35, 36, 37, 38, 39, 46, 47, 95, 96, 117, 118, 183, 345, 346, 368, 482, 483, 501, 502, 503, 504, 629, 630, 760, 761], 'Psychic': [68, 69, 70, 71, 104, 105, 131, 162, 163, 164, 165, 191, 192, 211, 216, 217, 269, 271, 303, 304, 305, 306, 356, 357, 391, 394, 428, 429, 430, 431, 481, 487, 526, 527, 537, 538, 539, 546, 553, 576, 577, 586, 587, 622, 635, 636, 637, 638, 639, 640, 666, 667, 745, 746, 747, 797, 798], 'Rock': [80, 81, 82, 103, 149, 150, 151, 152, 153, 154, 200, 265, 266, 267, 268, 323, 369, 370, 377, 378, 379, 380, 414, 453, 454, 455, 456, 486, 528, 583, 584, 585, 627, 628, 700, 758, 759, 766, 767, 768, 769, 773, 795, 796], 'Steel': [223, 224, 245, 328, 329, 330, 331, 332, 333, 410, 411, 412, 413, 416, 427, 484, 485, 540, 660, 661, 662, 699, 748, 749, 750, 751, 777], 'Water': [9, 10, 11, 12, 59, 60, 65, 66, 67, 78, 79, 85, 86, 87, 93, 94, 97, 98, 106, 107, 125, 126, 127, 128, 129, 130, 139, 140, 141, 142, 145, 172, 173, 174, 184, 185, 198, 199, 201, 209, 210, 214, 227, 240, 241, 242, 244, 249, 264, 280, 281, 282, 283, 293, 294, 295, 301, 302, 347, 348, 349, 350, 351, 371, 372, 373, 374, 381, 382, 401, 402, 403, 404, 405, 421, 422, 438, 439, 440, 465, 466, 469, 470, 506, 507, 508, 541, 547, 548, 560, 561, 562, 574, 575, 595, 596, 597, 610, 625, 626, ...]}

In [17]:
data.head()

   #                   Name Type 1  ... Generation  Legendary  Attack_high_low
0  1              Bulbasaur  Grass  ...          1      False       Attack Low
1  2                Ivysaur  Grass  ...          1      False       Attack Low
2  3               Venusaur  Grass  ...          1      False      Attack High
3  3  VenusaurMega Venusaur  Grass  ...          1      False      Attack High
4  4             Charmander   Fire  ...          1      False       Attack Low

[5 rows x 14 columns]

column of speed high and speed low

In [19]:
Speed_mean = data["Speed"].mean()

def set_speed(val):
    if val < Speed_mean:
        return "Speed Low"
    elif val == Speed_mean:
        return "Speed neutral"
    else:
        return "Speed High"

data["High_Low_Speed"] = data["Speed"].apply(set_speed)
data.head()

   #                   Name Type 1  ... Legendary  Attack_high_low  High_Low_Speed
0  1              Bulbasaur  Grass  ...     False       Attack Low       Speed Low
1  2                Ivysaur  Grass  ...     False       Attack Low       Speed Low
2  3               Venusaur  Grass  ...     False      Attack High      Speed High
3  3  VenusaurMega Venusaur  Grass  ...     False      Attack High      Speed High
4  4             Charmander   Fire  ...     False       Attack Low       Speed Low

[5 rows x 15 columns]

In [20]:
HP_mean = data["HP"].mean()

def set_HP(val):
    if val < HP_mean:
        return "HP Low"
    elif val == HP_mean:
        return "HP neutral"
    else:
        return "HP High"

data["High_Low_HP"] = data["HP"].apply(set_HP)
data.head()
data

       #                   Name  ... High_Low_Speed High_Low_HP
0      1              Bulbasaur  ...      Speed Low      HP Low
1      2                Ivysaur  ...      Speed Low      HP Low
2      3               Venusaur  ...     Speed High     HP High
3      3  VenusaurMega Venusaur  ...     Speed High     HP High
4      4             Charmander  ...      Speed Low      HP Low
..   ...                    ...  ...            ...         ...
795  719                Diancie  ...      Speed Low      HP Low
796  719    DiancieMega Diancie  ...     Speed High      HP Low
797  720    HoopaHoopa Confined  ...     Speed High     HP High
798  720     HoopaHoopa Unbound  ...     Speed High     HP High
799  721              Volcanion  ...     Speed High     HP High

[800 rows x 16 columns]